*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

